
.recipe-swipe {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100svh;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.recipe-overview,
.recipe-step {
  width: 100%;
  height: 100%;
}

.overview-video,
.step-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px ;
}


.recipe-info-cards {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.recipe-card {
  margin: 5px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.recipe-card-content {
  font-size: 1em;
  color: #555;
}

.drawer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  transform: translateY(80%);
  background-color: #fff;
  transition: transform 0.3s ease;
  z-index: 10;
  overflow-y: auto;
}

.drawer.open {
  transform: translateY(0);
}

.drawer-handle {
  text-align: center;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.drawer-content {
  padding: 20px;
}

.back-button,
.step-indicator,
.mute-button {
  position: absolute;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1em;
  z-index: 15;
}

.back-button {
  left: 10px;
}

.step-indicator {
  left: 50%;
  transform: translateX(-50%);
}

.mute-button {
  right: 10px;
}
